body {
    background-image: url('/assets/images/background-02.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}


/* Modal */
.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {

    background-color: rgba(245, 167, 178, 0.212);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(10px);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 30px;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
    background-color: #59b5f7;
    color: blanchedalmond;
}

.fab:hover {
    background-color: #064b7c;
    color: rgb(255, 255, 255);
}

.fab-danger {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    bottom: 25px;
    position: fixed;
    left: 25px;
    background-color: rgb(255, 255, 255);
    color: blanchedalmond;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.mynavbar {
    background-color: #ce064991;

}

.btn-light {
    color: #ce064991;
}

.btn-light:hover {
    background-color: #53041f91;
    color: #fdfdfd;
}

.img-navbar {
    height: 30px;
    margin: 5px;
}